@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box !important;
}

html {
    font-size: 62.5% !important;
}

body {
    font-size: 1.6rem !important;
    font-family: 'Rajdhani', sans-serif !important;
    font-weight: 600 !important;
    background: #f4f4ff !important;
}